/*
* !global
*/

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing:border-box;

	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$fs:1rem;
// font-size: $fs*1;
// padding: $fs*2 $fs*1;
// $fs:1rem;

// font-size: $fs*1;

// padding: $fs*2 $fs*1;

